# Packaging
build/
dist/
.pypirc


# pycaches
.sentence_suggestion/
__pycache__/

.sentence_suggestion.inference/
__pycache__/

.sentence_suggestion.keyword_match/
__pycache__/

.utils/
__pycache__/


# ipython file

.nn_match/
.ipynb_checkpoints/


# tests
test/
